<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/home.css">

<h1>Home Page</h1>

<!--The div element for the map-->
<div id="map"></div>

<!--File JS-->
<script type="text/javascript" src="/js/home.js"></script>
<!--  -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAByMerJMQWHHjrabUkiUW4JLPxGXntl5g&callback=initMap">
</script>

<% include ./partials/footer %>
